<p-dialog header="{{transType === 'encrypt' ? 'Encrypted Message' : 'Decrypted Message'}}" [(visible)]="dispOutput"
  [modal]="true" [closable]="false" [style]="{'width': '60vw', 'max-width': '28rem'}">
  <p>{{outputText}}</p>
  <div class="flex justify-content-around">
    <button pButton pRipple type="button" label="Copy" (click)="copyToClipboard()"
      class="p-button-rounded p-button-sm w-5 font-semibold"></button>
    <button pButton pRipple type="button" label="Close" (click)="closeDialog()"
      class="p-button-rounded p-button-outlined p-button-sm w-5 font-semibold"></button>
  </div>
</p-dialog>