<div class="card-container">
  <p-card header="Kodierwürfel" class="card">
    <p>Lösungswort eingeben: </p>
    <input pInputText type="text" [(ngModel)]="password" class="p-inputtext-sm">
    <p>Nachricht zu entschlüsseln: </p>
    <textarea pInputTextarea name="" id="" cols="20" rows="5" [(ngModel)]="input"></textarea>
    <button pButton pRipple (click)="onEncrypt()" class="p-button-rounded">Encrypt</button>
    <button (click)="onDecrypt()">Decrypt</button>
    <p>Ent-/Verschlüsselte Nachricht: </p>
    <p>{{output}}</p>
    <button *ngIf="output" pButton pRipple type="button" label="clear" (click)="clear()"
      class="p-button-rounded p-button-outlined p-button-secondary p-button-sm"></button>
  </p-card>
</div>