<link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css">
<link rel="stylesheet" href="https://unpkg.com/primeflex/themes/saga-blue.css">

<div class="card-container flex flex-column justify-content-center align-items-center m-auto text-center h-screen">
  <p-card header="Coding Cube" [style]="{'min-width': '22rem'}">
    <p-selectButton [options]="transformationOptions" [(ngModel)]="transformationType" optionLabel="label"
      optionValue="value"></p-selectButton>
    <p>Please enter the password</p>
    <input pInputText type="text" [(ngModel)]="password" class="p-inputtext-sm w-full">
    <p>Write message you want to {{transformationType === "encrypt" ? "encrypt": "decrypt"}} </p>
    <textarea pInputTextarea id="" cols="20" rows="3" [(ngModel)]="input"
      class="w-full justify-content-center"></textarea>
    <button pButton pRipple (click)="transformationType === 'encrypt' ? onEncrypt() : onDecrypt()"
      class="p-button-rounded w-8 justify-content-center mt-2 font-semibold">Transform Message</button>
  </p-card>

  <app-dialog [outputText]="output" [transType]="transformationType" [dispOutput]="displayOutput" (copy)="copy()"
    (close)="close()"></app-dialog>

  <p-toast position="bottom-center" key="bc" [style]="{'max-width': '20rem'}"></p-toast>

  <button (click)="print()">print
  </button>

</div>